.card {
  border: 1px solid $primary-color;
  margin-bottom: 40px;
  text-align: center;
  padding: 20px;

  h1,
  h2 {
    margin-bottom: 20px;
  }

  h2:last-child {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid $secondary-color;
  }
}
